.capabilities {
  display: flex;
  color: #48555b;
  margin-bottom: 5rem;
  justify-content: space-between;
 
  
}

.capabilities_title {
                        @include adaptiv-font(20, 14);
  font-weight: bold;
}
.capabilities_right {
  display: flex;
  margin-left: 7rem;
  flex-wrap: wrap;
    
}
.capabilities_text {
                      @include adaptiv-font(16, 12);
                      width: 400px;
}
.capabilities_button {
  margin-left: -5rem;
  background: #00a4e5;
  width: 10rem;
  height: 2.5rem;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  line-height: 2.3rem;
  padding: 0.2rem;

}
