

.first_conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.5rem;

    background-image: url(./assets/bg.png);
     background-attachment: fixed;
    background-size: 100% 100%
}

.first_conteiner h1,
.first_conteiner h3 {
  color: white;
}

.logo_main {
  margin-top: 4rem;
}
.center h1 {
          @include adaptiv-font(55, 25);
  margin-top: 5.3rem;
}
.center h3 {
  font-size: 1rem;
  text-align: center;
}
.bot {
  padding-bottom: 6.25rem;
}
