.capabilities {
  display: flex;
  color: #48555b;
  margin-bottom: 5rem;
}

.capabilities_title {
  font-size: 1.2rem;
  font-weight: bold;
}
.capabilities_right {
  display: flex;
  justify-content: space-between;
  margin-left: 7rem;
  width: 70%;
}
.capabilities_text {
  font-size: 0.9rem;
}
.capabilities_button {
  margin-left: 2.5rem;
  background: #00a4e5;
  width: 10rem;
  height: 2.5rem;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  line-height: 2.3rem;
  padding: 0.2rem;
}
